{% load static %}
<link rel="shortcut icon" href="{% static 'stock_bureau/assets1/media/logos/l1.png' %}"/>
<!--begin::Fonts-->
<link rel="stylesheet" href="{% static 'stock_bureau/assets1/css/fonts.css' %}"/>

<link rel="stylesheet" href="{% static 'stock_bureau/assets1/css/bootstrap.min.css' %}">
<link href="{% static 'stock_bureau/assets1/css/datatables.bundle.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'stock_bureau/assets1/plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'stock_bureau/assets1/css/style.bundle.css' %}" rel="stylesheet" type="text/css"/>
<!--end::Global Stylesheets Bundle-->
<style type="text/css"> .scro {
    overflow-y: auto;
    height: 350px;
    overflow-x: hidden;
}

.scro thead th {
    position: sticky;
    top: 0;
    background: #ffff;
}

.stok {
    overflow-y: auto;
    height: 440px;
    overflow-x: hidden;
}

.stok thead th {
    position: sticky;
    top: 0;
    background: #ffff;
}

.mouva {
    overflow-y: auto;
    height: 440px;
    overflow-x: hidden;
}

.mouva thead th {
    position: sticky;
    top: 0;
    background: #ffff;
}

.mouvs {
    overflow-y: auto;
    height: 440px;
    overflow-x: hidden;
}

.mouvs thead th {
    position: sticky;
    top: 0;
    background: #ffff;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #795548;
}

#navi #navi1 #navi2 #navi3 #navi4 #navi5 #navi6 #navi7 #navi8 .arrow-right {
    transition: all 0.5s ease;
}

.rtoate180 {
    transform: rotate(90deg);
}
</style>
